<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="app">
			<!--单个checkbox 会自动把a转化为boolean,true为选中-->
			<input type="checkbox" v-model="a" />{{a}}
			<br /> 
			爱好:
			<!--如果是多个checkbox,要增加value属性,而且数据类型为数组-->
			<input type="checkbox" v-model="b" value="游泳" />游泳
			<input type="checkbox" v-model="b" value="爬山" />爬山
			<input type="checkbox" v-model="b" value="睡觉" />睡觉
			{{b}}
		</div>
	</body>

</html>
<script src="vuejs/vue.js"></script>
<script type="text/javascript">
	// data,methods最后渲染是直接挂载在vue实例中,所以不能重名
	let app = new Vue({
		el: '#app',
		data: {
			a:1,
			b:[]
		}
	});
</script>